{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "browser": true,
    "$": true,
    "$$": true,
    "expect": true
  },
  "rules": {
    "no-console": "off",
    "class-methods-use-this": "off"
  }
}